.article_list
    padding-top: 100px
.article_list_box
    display: flex
    justify-content: center
    padding-top: 50px
.article_list_box_left
    flex-direction: column
.article_list_box_left_one_img
    width: 270px
    height: auto
    border-radius: 10px
    object-fit: fill
.article_list_box_left_one
    text-decoration: none
.article_list_box_left_one_a_span
    font-family: 'Roboto-Black'
    text-align: left
    color: var(--color-text-black)
    font-size: var(--font-size-14)
.article_list_box_left_one
    display: flex
    justify-content: flex-start
    margin-top: 20px
.article_list_box_left_two
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-left: 20px
.article_list_box_left_two_span_tag
    font-family: 'Roboto-Medium'
    margin-top: 20px
    background: rgba(0,0,0,0.1)
    padding: 5px 10px 5px 10px
    border-radius: 10px
.article_list_box_left_two_date
    display: flex
    justify-content: start
    width: 400px
    margin-top: 45px
    align-items: center
.article_list_box_left_two_date_span
    margin-right: 50px
    font-family: 'Roboto-Medium'
.article_list_box_left_two_date_com
    width: 40px
.article_box_inf
    background: var(--color-text-white)
    display: flex
    position: relative
    // z-index: 100
    min-height: 900px
    max-height: 100%
    flex-direction: column
.breadcrumps_a
    text-decoration: none
    color: var(--color-text-black)
    font-family: 'Roboto-Light'
.article_page_h1
    font-size: 20px
    font-family: 'Roboto-Medium'
    text-align: center
.article_page_des
    font-size: var(--font-size-18)
    font-family: 'Roboto-Light'
    margin: 0 auto
    word-break: break-all
    max-width: 1200px
    img
        display: block
        margin: 0px auto
        width: 50%
        height: auto
        box-shadow: 5px 5px 5px #000
        border-radius: 10px
.crumbs_article
    display: flex
    justify-content: center
    margin-top: 7px
.breadcrumps_img
    width: 24px
.statistics_article
    display: flex
    justify-content: space-evenly
    width: 900px
    margin: 20px auto 10px auto
.tag_set_article
    display: flex
    justify-content: unset
    margin: 0 auto
.tag_set_article_span
    font-size: 16px
    font-family: 'Roboto-Medium'
    margin-bottom: 40px
.tag_set_article_span_el
    background: rgba(0, 0, 0,0.1 )
    font-family: 'Roboto-Light'
    padding: 10px
    border-radius: 10px
.article_for_game_box
    background: rgba(0,0,0, 0.1)
    border-radius: 10px
    padding: 20px
    margin-bottom: 30px
.article_for_game_box
    display: flex
    justify-content: flex-start
.article_for_game_box_img
    width: 220px
    object-fit: cover
    border-radius: 10px
    margin-left: 20px
.article_for_game_box_info
    display: flex
    flex-direction: column
    justify-content: start
    align-items: start
    margin-left: 30px
    // &::after
    //     content: ''
    //     height: 200px
    //     width: 2px
    //     background-color: #000
    //     display: block
    //     position: absolute
    //     right: 800px
    //     margin-top: 10px
.article_for_game_box_info_h2
    font-size: 24px
    font-family: 'Roboto-Black'
.article_for_game_box_info_span
    font-size: 16px
    font-family: 'Roboto-Medium'
    margin-bottom: 5px
.article_for_game_box_info_span_el
    font-size: 14px
    font-family: 'Roboto-Light'
.article_for_game_box_rating
    align-self: self-start
    display: flex
    margin: 0 auto
    margin-top: 30px
    &::before
        content: ''
        height: 200px
        width: 2px
        background-color: #000
        display: block
        position: absolute
        margin-top: 10px
.icons_count
    width: 30px
    margin-right: 4px
.icons_count_box
    display: flex
    align-items: center
.add_comment_for_article
    width: 700px
    margin: 0 auto
    border-radius: 10px
.box_comment_for_article
    background: rgba(0,0,0, 0.1)
    padding: 20px
    border-radius: 10px
.add_comment_for_article_textarea
    width: 700px
    height: 100px
    border-radius: 10px
    overflow-y: auto
.add_comment_for_article_btn
    font-family: 'Roboto-Black'
    margin-top: 20px
    font-size: 18px
    max-width: 100%
    height: 50px
    border-radius: 10px
    color: var(--color-text-white)
    background: var(--color-text-black)
    padding: 15px
.article_box_header
    width: 100%
    height: 300px
    margin-bottom: 30px
.addGamePostBoxSection_top_left
    display: flex
    flex-direction: column
    margin-bottom: 10px
    margin-right: 70px
.article_for_game_box_img
    width: 100% !important
.star_img
    width: 24px !important
    padding: 5px
.rating-stars
    display: flex
.article_header_box_img
    margin: 0px auto
    display: block
.article_list_box_right
    margin-left: 70px
.article_list_box_right_box
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: 15px
    background: linear-gradient(to bottom right, #9D247B, #1C1F3D)
    a
        text-decoration: none
.article_list_crumbs
    display: block
    position: absolute
    top: 10%
    left: 17%
.article_list_box_right_box_span
    font-size: var(--font-size-16)
    color: var(--color-text-white)
.article_list_box_right_general_info_inner
    margin-top: 10px
.article_list_box_right_img
    width: 100%
    height: 300px
.article_list_box_right_general_info
    margin-left: 20px
.box_btn_list_news
    display: flex
    justify-content: center
    margin-bottom: 50px
.btn_list_news
    margin-top: 30px
    border: none
    width: 200px
    height: 30px
    border-radius: 10px
    color: var(--color-text-white)
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5))
    font-family: 'Roboto-Black'
    font-size: var(--font-size-18)
