.arial
    font-family: 'Arial'
.verdana
    font-family: 'Verdana'
.times-new-roman
    font-family: 'Times New Roman', Times, serif
.georgia
    font-family: 'Georgia'
.courier
    font-family: 'Courier'
