.games_list
    margin-top: 30px
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
.box_game
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 50px
.box_game_img
    max-width: 100%
    width: 300px
    border-radius: 5px
    margin-bottom: 10px
.games_list_btn
    text-decoration: none
    font-size: var(--font-size-20)
    color: var(--color-text-white)
    background: var(--background-grey)
    padding: 10px 20px 10px 20px
    border-radius: 10px
    font-family: 'Roboto-Medium'
.games_list_span
    margin-top: 20px
.games_list_title
    font-size: var(--font-size-18)
    font-family: 'Roboto-Black'
.btn_game_list
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2))
    color: var(--color-text-white)
    font-size: var(--font-size-18)
    margin-top: 30px
    margin-bottom: 50px
    width: 200px
    height: 50px
    border-radius: 10px
