.container
    max-width: 1140px
    margin: 0 auto
.row
    display: flex
    flex-wrap: wrap
    margin-left: -15px
    margin-right: -15px
body
    margin: 0px
    padding: 0px
    background: #fff
    .dark
        background: #000
.list_developer_table
    width: 50%
    margin: 0px auto
    thead
        tr
            border: 2px solid black
            background: #ccc
            color: #000
.sitemap_container
    display: flex
    justify-content: space-around
    padding-top: 70px
.sitemap_box_left
    display: flex
    flex-direction: column
