.wrapper_header
    width: 100%
    height: 80px
    background: var(--main-background-body)
    z-index: 100
    position: fixed
    top: 0px
    left: 0px
    color: #fff

.header_menu
    display: grid
    grid-template-columns: 0.5fr 1fr 0.5fr
    gap: 10px
.header_menu_box
    display: flex
    justify-content: center
    align-items: center
.header_menu_ul
    display: flex
    justify-content: space-between
    list-style: none
.header_menu_li
    padding-left: 30px
    font-size: calc( 26px + 16 * (100vw/smaller) )
.header_setting_img
    width: 25px
    height: 25px
    display: inline-block
    fill: orange
    cursor: alias
.header_other
    display: flex
    justify-content: space-around
    align-content: center
.box_one
    width: 48px
    height: 48px
    border-radius: 15px
    background: rgba(0, 0, 0, 0.5)
    display: flex
    justify-content: center
    align-items: center
    margin: 0 10px
.header_login
    fill: red
.header_logo
    width: 100px
    height: auto
.box_language
    width: 100px
    display: inline
    margin: 0 auto
    border-radius: 0px
    border: none
.header_language
    width: 70px
    margin: 0 auto
.dropboxLanguage
    width: 100px
    background: rgba(0, 0, 0, 0.5)
    border: none
    margin: -21px 10px 10px -15px
.select_language_ul
    list-style: none
.flag-size
    width: 48px
.current_language
    width: 48px
.soc_icons_img
    width: 80px
