@media (max-width: 991px)
    .humburger
        display: none
    .header_menu
        justify-content: flex-start
    .slider_wrapper
        margin: 0 auto
    .block_post_wrapper
        margin-left: 30px
    .slide_top
        justify-content: space-evenly
    .header_menu
        display: flex
    .block_box
        display: flex
        padding: 0px
    .slide_top_first_img
        width: 100%
    .block_box_aside
        display: none
    .container
        max-width: 100%
        margin-right: 20px
    .rewies_box
        display: flex
        flex-direction: column
    .slide_top_img
        width: 100%
    .slide_top_first
        margin: 0px
    .slide_bottom_img
        width: 100%
    .slide_box_title_img
        width: 100%
    .section_game_container
        padding-bottom: 50px
    .header_menu_li
        font-size: 17px
    .article_list_box_right_img
        object-fit: contain
