
.slide_top
    display: flex
    justify-content: space-between
    margin-bottom: 20px
.slide_bottom
    display: flex
    justify-content: space-around
.slide_top_img
    max-width: 100%
    border-radius: 20px
    object-fit: scale-down
.slide_bottom_img
    max-width: 100%
    border-radius: 20px
.slide_top_first
    margin: 5px
.slide_top_two
    margin: 5px
.slide_bottom_first
    margin: 5px
.slide_bottom_second
    margin: 5px
.slide_bottom_first
    margin: 5px
