:root
    --main-background-body: rgb(0,0,0,0.5)
    --main-background-white: #fff
    --main-black: 0,0,0
    --main-white: 255, 255, 255
    --main-grey: #cccccc
    --background-black: #000
    --background-grey: #3a3a3a
    --color-text-black: #000
    --color-text-white: #fff
    --font-size-12: 12px
    --font-size-14: 14px
    --font-size-16: 16px
    --font-size-18: 18px
    --font-size-20: 20px
    --font-size-22: 22px
